{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>Historique des mouvements de matériels de l'employe {{ employe.nom }}</h3>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ employe.prenom }} {{ employe.nom }}</h6>
    </div>
    <div class="card-body">
        {% if mouvements %}
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID mouvement</th>
                        <th>Date mouvement</th>
                        <th>Date retour</th>
                        <th>Description</th>
                        <th>N° Série matériel</th>
                        <th>Nom Matériel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mouvement in mouvements %}
                    <tr>
                        <td>{{ mouvement.idMouvement }}</td>
                        <td>{{ mouvement.dateMouvement }}</td>
                        <td> {{ mouvement.dateRetour }} </td>
                        <td>{{ mouvement.description }}</td>
                        <td>{{ mouvement.materiel.NumSerie }}</td>
                        <td>{{ mouvement.materiel.nomMateriel }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h4>Cet employé n'a aucun mouvement de matériel</h4>
        {% endif %}
    </div>
</div>
{% endblock %}