{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>wpk pack manager - Login</title>



    <!-- Custom fonts for this template-->


    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <style>
        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #fccb90;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        }

        @media (min-width: 769px) {
            .gradient-custom-2 {
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
        }
    
      
        
    </style>
</head>

<body class="bg-gradient-primary h-100">
                                   
    <section class="gradient-form min-vh-100" style="background-color: #eee;">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-10 mx-auto">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6 mt-5">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <img src="{% static 'img/logoWpk.png' %}" style="width: 185px;" alt="logo">
                                    </div>
                                    <br>
                                    {% block content %}

                                    {% if message %}
                                    <div class="alert alert-danger alert-dismissible">{{ message }}</div>
                                    {% endif %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <p class="text-center">Please login to your account</p>
                                        <div class="form-outline mb-4">
                                            {{ form.username }}
                                        </div>
                                        <div class="form-outline mb-4">
                                            {{ form.password }}
                                        </div>
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                    type="submit">Log in</button>
                                            <a class="text-muted" href="#!">Forgot password?</a>
                                        </div>
                                    </form>
                                    
                                    {% endblock content %}
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a company</h4>
                                    <p class="small mb-0">Notre application facilite la gestion de votre parc informatique. 
                                        Suivez, organisez et maintenez à jour votre 
                                        inventaire de matériel et de logiciel de manière efficace et simplifiée.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementById("{{ form.username.id_for_label }}").placeholder = "{{ form.username.label }}";
    
        document.getElementById("{{ form.password.id_for_label }}").placeholder = "{{ form.password.label }}";
    </script>
</body>

</html>