{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> {{ message }}.
    </div>
  {% endfor %}
{% endif %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0">Maintenance materiels</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#maintenanceModal">Ajouter une panne</button>
</div>

<div class="modal fade" id="maintenanceModal" tabindex="-1" role="dialog" aria-labelledby="maintenanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="maintenanceModalLabel">Ajouter une panne</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="materiel">Materiel:</label>
                        <div class="dropdown">
                            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" class="form-control">
                            <select name="materiel" id="materiel" class="form-control">
                                {% for materiel in materiels %}
                                <option value="{{ materiel.idMateriel }}">{{ materiel.nomMateriel }} - {{ materiel.NumSerie}}</option>                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" required>
                    </div> -->
                    <div class="form-group custom-summernote">
                        <label for="{{ descform.description.id_for_label }}">Description</label>
                        {{ descform.description }}
                    </div>  
                    <!-- <div class="form-group">
                        <label for="file">File:</label>
                        <input type="file" name="file" id="file" class="form-control">
                    </div> -->
                    <div class="form-group">
                        <label for="files">Files:</label>
                        <input type="file" name="files" id="files" class="form-control" multiple>
                    </div>
                    
                    <!-- Add other fields as needed -->
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="card">
        <div class="card-header">
            Historique des maintenances des matériels
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-w">
                        <tr>
                            <th>Num de serie</th>
                            <th>Matériel</th>
                            <th>Date panne</th>
                            <th>Date réparation</th>
                            <th style="width: 16%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for maintenance in maintenances %}
                        <div class="modal fade" id="repairModal{{maintenance.id}}" tabindex="-1" role="dialog" aria-labelledby="repairModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="repairModalLabel">Set Repair Date</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'set_repair_date' maintenance.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="date_reparation">Date de Réparation:</label>
                                                <input type="date" name="date_reparation" class="form-control" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <tr>
                            <td>{{ maintenance.materiel.NumSerie }}</td>
                            <td>{{ maintenance.materiel.nomMateriel }}</td>
                            <td>{{ maintenance.date_panne|date:"d-m-Y"  }}</td>
                            {% if maintenance.date_reparation %}
                            <td>{{ maintenance.date_reparation|date:"d-m-Y" }}</td>
                            {% else %}
                            <td>Pas encore réparé</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'detail_maintenance' maintenance.id %}"><i class="fas fa-eye"></i></a>
                                {% if not maintenance.date_reparation %}
                                <a href="#" data-toggle="modal" data-target="#repairModal{{maintenance.id}}"  title="Ajouter la date de réparation"><i class="fas fa-wrench"></i></a> 
                                {% endif %}
                                <a href="#" data-toggle="modal" data-target="#deleteConfirmationModal-{{ maintenance.id }}">
                                    <i class="fas fa-trash" style="color: red;"></i>
                                  </a>                                                           
                            </td>
                        </tr>
                        <!-- Delete Confirmation Modal -->
                    <div class="modal fade" id="deleteConfirmationModal-{{ maintenance.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel-{{ emp.idEmploye }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteConfirmationModalLabel-{{ maintenance.id }}">Suprimmer la maintenance</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Etes vous sure de vouloir supprimer la maintenance: ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_maintenance' maintenance.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                      </div>
                      <!-- End Confirmation Modal -->
                        {% endfor %}
                    </tbody>
                </table>
                <!-- pagination -->
                <div class="container">
                    <div class="row my-5">
                        <div class="col-md-4">
                            <p>Page: {{ maintenances.number }}/{{ maintenances.paginator.num_pages }}</p>
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item">
                                        {% if tickets.has_previous %}
                                        <a class="page-link" href="?page={{ maintenances.previous_page_number }}">Previous</a>
                                        {% endif %}
                                    </li>

                                    {% for num_page in tickets.paginator.page_range %}
                                        {% if tickets.number == num_page %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}

                                    <li class="page-item">
                                        {% if factures.has_next %}
                                        <a class="page-link" href="?page={{ maintenances.next_page_number }}">Next</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- end pagination -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
    
</script>