{% extends 'baseUser.html' %}
{% load static %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Liste materiel Wpk</h1>

    <!-- Formulaire de filtrage -->

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Button trigger modal -->
  
</div>



<div class="container mb-4">
    <form method="post" action="{% url 'search_materials' %}">
        {% csrf_token %}
        <label for="searchInput">Recherche:</label>
        <input type="text" id="searchInput" name="query" placeholder="recherche...">
        <button type="submit">Rechercher</button>
        <button type="button" onclick="resetSearch()">Reset</button>
    </form>
</div>



<form method="get" action="{% url 'materiel_list' %}" class="container mb-4">
    <label for="category">Choisir une catégorie:</label>
    <select id="category" name="category_id">
        <option value="" {% if not selected_category_id %}selected{% endif %}>Toutes les catégories</option>
        {% for category_filter in categories_filter %}
        <option value="{{ category_filter.idCategory }}" 
        {% if selected_category_id == category_filter.idCategory|stringformat:"s" %} selected {% endif %}>
            {{ category_filter.nomCategory }}
        </option>
        {% endfor %}
    </select>
    <button type="submit">Filtrer</button>
    <button type="button" onclick="location.href='{% url 'materiel_list' %}';">Reset</button>
</form>




<div class="container">
    <div class="card">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
            {% for categorie in categories %}
            <a href="{% url 'get_sous_categories_for_categorie' categorie.idCategory %}">
                <div id="categorie-{{selected_categorie}}" class="category-row"
                    data-category-id="{{ categorie.idCategory }}">
                    {{ categorie.nomCategory }}
                    <span class="collapse-indicator">&#x25BC;</span>
                </div>
            </a>
            <div id="sous-categorie-{{ categorie.idCategory }}">
                {% if categorie.idCategory in selected_categorie_ids %} <!-- Vérifier si la catégorie est sélectionnée -->
                {% for sous_categorie in sub_categories %}
                <div class="sub-category-row material-styles" data-toggle="collapse"
                    data-target="#materiel-{{ sous_categorie.idSousCategorie }}" aria-expanded="false">

                    <div id="sous-categorie-{{selected_categorie}}" style="text-align: right;">
                        <a
                            href="{% url 'get_materials_for_subcategory' categorie.idCategory sous_categorie.idSousCategorie  %}">
                            <span style="margin-right: 10px;">{{ sous_categorie.nomSousCategory }}</span>
                        </a>
                    </div>

                    <div style="display: flex; align-items: center;">
                        <a href="{% url 'get_sous_categories_for_categorie' categorie.idCategory %}">
                            <span class="collapse-indicator" style="margin-right: 5px;">&#x25B2;</span>
                        </a>

                        <a
                            href="{% url 'get_materials_for_subcategory' categorie.idCategory sous_categorie.idSousCategorie  %}">
                            <span class="collapse-indicator">&#x25BC;</span>
                        </a>
                    </div>

                </div>
                {% if sous_categorie.idSousCategorie in selected_Sous_categorie_ids %} <!-- Vérifier si la sous-catégorie est sélectionnée -->
                <div class="list-group">
                    {% for materiel in materials %} <!-- Utilisation du paginateur -->

                    <div class="material-row">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="flex-grow-1">
                                <strong>Nom:</strong> {{ materiel.nomMateriel }}<br>
                                <strong>Numéro de série:</strong> {{ materiel.NumSerie }}<br>
                                <strong>Description:</strong> {{ materiel.description }}
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>



                    {% endfor %}

                    <!-- Pagination -->
                    <!-- Pagination -->
                    <div class="pagination" style="display: flex; flex-direction: column; align-items: start; margin:0 0 2rem 2em;">
                        <!-- Current Page Number and Total Pages -->
                        <div class="mb-3">Page: {{ materials.number }}/{{ materials.paginator.num_pages }}</div>
                        
                        <!-- Buttons -->
                        <div>
                            <!-- Précédent Button -->
                            {% if materials.has_previous %}
                            <a href="?page={{ materials.previous_page_number }}" class="btn btn-primary mr-2">Précédent</a>
                            {% else %}
                            <span class="btn btn-primary disabled mr-2">Précédent</span>
                            {% endif %}
                            
                            <!-- Suivant Button -->
                            {% if materials.has_next %}
                            <a href="?page={{ materials.next_page_number }}" class="btn btn-primary">Suivant</a>
                            {% else %}
                            <span class="btn btn-primary disabled">Suivant</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>

    // Gérer le basculement de la flèche de catégorie lors du clic
    // Gérer le basculement de la flèche de catégorie lors du clic
    $('.category-row').click(function (event) {
        event.stopPropagation();
        $(this).find('.collapse-indicator').toggleClass('collapsed');
        var target = $(this).data('target');
        $(target).toggleClass('show');
    });

    $('.sub-category-row').click(function (event) {
        event.stopPropagation();
        $(this).find('.collapse-indicator').toggleClass('collapsed');
        var target = $(this).data('target');
        $(target).toggleClass('show');
    });


    function handleCategoryChange(select) {
        var newCategoryInput = document.getElementById("new_category_input");
        var newCategoryOption = document.querySelector("#categorie option[value='new']");

        if (select.value === "new") {
            newCategoryInput.style.display = "block";
        } else {
            newCategoryInput.style.display = "none";
            document.getElementById("new_category_name").value = "";
            document.getElementById("new_category_description").value = "";
        }

        // Activer/désactiver les options de sous-catégorie en fonction de la catégorie sélectionnée
        var selectedCategoryId = select.value;
        var subCategoryOptions = document.querySelectorAll('.sub-category-option');
        for (const option of subCategoryOptions) {
            const optionCategory = option.dataset.category;
            option.disabled = optionCategory !== selectedCategoryId && optionCategory !== "";
        }
    }

    function handleSubCategoryChange(select) {
        var newSubCategoryInput = document.getElementById("new_sub_category_input");

        if (select.value === "new") {
            newSubCategoryInput.style.display = "block";
        } else {
            newSubCategoryInput.style.display = "none";
            document.getElementById("new_sub_category_name").value = "";
            document.getElementById("new_sub_category_description").value = "";
        }
    }


    document.addEventListener("DOMContentLoaded", function () {
        // Récupérer l'ID de la sous-catégorie de Django
        var CategorieId = "categorie-{{selected_categorie}}";
        var sousCategorieId = "sous-categorie-{{selected_categorie}}";

        // Faire défiler jusqu'à la sous-catégorie
        var CategorieElement = document.getElementById("categorie-{{selected_categorie}}");
        if (CategorieElement) {
            CategorieElement.scrollIntoView({ behavior: 'smooth' });
        }

        var sousCategorieElement = document.getElementById("sous-categorie-{{ categorie.idCategory }}");
        if (sousCategorieElement) {
            sousCategorieElement.scrollIntoView({ behavior: 'smooth' });
        }
    });



</script>

<script src="{% static 'js/filter_materiel.js' %}"></script>



{% endblock %}